div#my-workstations {

    div.workstation-wrapper {
        padding: 1rem;
        border-radius: 10px;
        border: solid 1px #cecece;
        text-align: start;

        div.no-workstations {
            width: 100%;
            padding: 2rem 0;
            background-color: #f0f0f0;
            border-radius: 6px;

            h5 {
                margin: 0;
                text-align: center;
                color: #808080;
            }
        }
    }
}