<div id="my-workstations">
    <h3> My Workstations <sup><i class="fa-solid fa-circle-info" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Workstations are Windows or linux Virtual Machines (VMs), which provide a mechanism for SDC users to access the datasets assigned to them or their own datasets, and perform analytics on the data."></i></sup> </h3>
    <hr>

    <div class="workstation-wrapper bg-light">
        <ng-container *ngFor="let workstation of workstations; trackBy: WorkstationTrackBy">
            <div class="workstation"><!-- [ngStyle]="{'order':  workstation.status == false ? 1 : 0 }" -->
                <div class="icon" [ngClass]="workstation.status == false ? 'bg-light' : 'bg-info-subtle' ">
                    <span class="fa-stack" style="vertical-align: center;">
                        <i class="fa-brands fa-stack-2x text-muted" data-fa-transform="up-4" [ngClass]="'fa-' + workstation.machine.os"></i>
                        <i class="fa-solid fa-desktop fa-stack-1x fa-5x text-muted"></i>
                    </span>
                </div>
                <div class="info">
                    <p class="text-truncate" data-bs-toggle="tooltip" data-bs-placement="top" [attr.data-bs-title]="workstation.display_name"><b>{{ workstation.display_name }}</b></p>
                    <div class="details">
                        <p><small>vCPUs: {{ workstation.machine.cpu || 0 }}</small></p>
                        <p><small>RAM(GiB): {{ workstation.machine.ram || 0 }}</small></p>
                    </div>
                </div>
                <div class="actions">

                    <button class="btn btn-sm" [ngClass]="workstation.status == false ? 'btn-outline-secondary' : 'btn-danger'" [disabled]="workstation.loading" (click)="toggle_workstation(workstation.instance_id)">

                        <ng-container *ngIf="workstation.loading == true; else DefaultToggleButton;">
                            <i class="fa-solid fa-circle-notch fa-spin"></i>
                        </ng-container>
                        <ng-template #DefaultToggleButton>
                            <i class="fa-solid fa-power-off"></i>
                        </ng-template>
                    </button>

                    <button class="btn btn-sm text-nowrap" [ngClass]="workstation.status == false ? 'btn-outline-secondary' : 'btn-success'" [disabled]="workstation.status == false || workstation.loading == true" (click)="launch_workstation(workstation.instance_id)">
                        <i class="fa-solid fa-square-arrow-up-right me-1"></i>CONNECT
                    </button>

                    <div class="dropdown dropstart">
                        <button class="btn btn-sm btn-secondary" type="button" data-bs-toggle="dropdown"><i class="fa-solid fa-gear"></i></button>
                        <ul class="dropdown-menu">
                            <li>
                                <h6 class="dropdown-header">Manage Workstation</h6>
                            </li>
                            <li><button class="dropdown-item" type="button" (click)="open_modal_resize_workstation_modal()"> <i class="fa-solid fa-up-right-and-down-left-from-center me-2"></i>Resize Workstation </button></li>
                            <li><button class="dropdown-item" type="button" (click)="open_modal_schedule_workstation_modal()"> <i class="fa-solid fa-calendar-week me-2"></i>Schedule Up-Time </button></li>
                            <li><button class="dropdown-item" type="button" (click)="open_modal_add_to_workstation_storage_modal()"> <i class="fa-solid fa-hard-drive me-2"></i>Add Storage </button></li>
                        </ul>
                    </div>

                </div>
            </div>
        </ng-container>
    </div>
</div>


<!-- Modal: Shutdown Workstation -->
<app-modal #Modal_ShutDownWorkstation [size]="'sm'">
    <ng-container modal-header>
        <div class="d-flex align-items-center justify-content-start p-2">
            <h5 class="m-0"><i class="fa-solid fa-power-off me-2"></i>Shutdown Workstation</h5>
        </div>
    </ng-container>
    <ng-container modal-body>
        <div class="p-2">
            <h5 class="text-center mb-3">Are you sure you to Shutdown this work Station?</h5>
            <div class="card card-body bg-light mb-3">
                <h3 class="text-center">{{ selected_workstation?.display_name }}</h3>
                <h6 class="text-center m-0"><small>Running Since: 00/00/000 - 14:00:00</small></h6>
            </div>
            <p style="text-align: justify;">You will be logged out and the workstation will be stopped. Please Make sure your work is saved prior to shutting down, as this will cause all your unsaved changes on this workstation to be lost.</p>
        </div>
    </ng-container>
    <ng-container modal-footer>
        <div class="d-flex align-items-center justify-content-between w-100">
            <button class="btn btn-secondary" (click)="close_shutdown_workstation_modal()">Close</button>
            <button class="btn btn-danger" (click)="shutdown_workstation()">Shutdown the Workstation</button>
        </div>
    </ng-container>
</app-modal>




<!-- Modal: Resize Workstation -->
<app-modal #Modal_ResizeWorkstation [size]="'sm'">
    <ng-container modal-header>
        <div class="d-flex align-items-center justify-content-start p-2">
            <h5 class="m-0"> <i class="fa-solid fa-up-right-and-down-left-from-center me-2"></i>Resize Workstation</h5>
        </div>
    </ng-container>
    <ng-container modal-body>
        <div class="p-2">

        </div>
    </ng-container>
    <ng-container modal-footer>
        <div class="d-flex align-items-center justify-content-between w-100">
            <button class="btn btn-secondary" (click)="close_modal_resize_workstation_modal()">Close</button>
        </div>
    </ng-container>
</app-modal>

<!-- Modal: Schedule Workstation -->
<app-modal #Modal_ScheduleWorkstation [size]="'sm'">
    <ng-container modal-header>
        <div class="d-flex align-items-center justify-content-start p-2">
            <h5 class="m-0"> <i class="fa-solid fa-calendar-week me-2"></i>Schedule Up-Time </h5>
        </div>
    </ng-container>
    <ng-container modal-body>
        <div class="p-2">

        </div>
    </ng-container>
    <ng-container modal-footer>
        <div class="d-flex align-items-center justify-content-between w-100">
            <button class="btn btn-secondary" (click)="close_modal_schedule_workstation_modal()">Close</button>
        </div>
    </ng-container>
</app-modal>

<!-- Modal: Add to Workstation Storage -->
<app-modal #Modal_AddToWorkstationStorage [size]="'sm'">
    <ng-container modal-header>
        <div class="d-flex align-items-center justify-content-start p-2">
            <h5 class="m-0"> <i class="fa-solid fa-hard-drive me-2"></i>Add Storage </h5>
        </div>
    </ng-container>
    <ng-container modal-body>
        <div class="p-2">

        </div>
    </ng-container>
    <ng-container modal-footer>
        <div class="d-flex align-items-center justify-content-between w-100">
            <button class="btn btn-secondary" (click)="close_modal_add_to_workstation_storage_modal()">Close</button>
        </div>
    </ng-container>
</app-modal>