<div>
    <h3>Request Center</h3>
    <hr>
    <ul class="list-group">
        <li class="list-group-item p-3">
            <div class="position-relative">
                <a class="stretched-link" data-bs-toggle="collapse" href="#RequestTrustedUserStatusCollappse" role="button" aria-expanded="false" aria-controls="RequestTrustedUserStatusCollappse"> </a>
                <div class="d-flex align-items-center justify-content-between">
                    <h5 class="m-0">Request Trusted User Status </h5>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
            </div>
            <div class="collapse show" id="RequestTrustedUserStatusCollappse">
                <hr>
                <div class="card card-body bg-light">
                    <p>Trusted Status is a mechanism to help speed the turnaround of future, similar export requests. Obtaining Trusted Status eliminates the Data Provider review/approval requirements for subsequent, similar requests and will enable immediate export of data, at the time of your request.</p>
                    <p>A separate Trusted Status should be acquired, depending on each specific combination of Project, Data Provider, and Sub-Data Set/Data Type requested for export.</p>
                    <hr>
                    <div class="d-flex align-items-center justify-content-end">
                        <button class="btn btn-dark px-4" (click)="open_modal_request_trusted_user_status()"> Request Trusted User Status </button>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item p-3">
            <div class="position-relative">
                <a class="stretched-link" data-bs-toggle="collapse" href="#RequestEdgeDatabase" role="button" aria-expanded="false" aria-controls="RequestEdgeDatabase"> </a>
                <div class="d-flex align-items-center justify-content-between">
                    <h5 class="m-0">Request Edge Database </h5>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
            </div>
            <div class="collapse" id="RequestEdgeDatabase">
                <hr>
                <div class="card card-body bg-light">
                    <p>Researchers can export their summarized, aggregated and/or analysis results data, which do not contain sensitive information, to the public Edge database. This enhances analytical capabilities, enabling connections from the Edge database to local applications and/or other public data sources.</p>
                    <p>Users are required to submit initial table export requests, and any subsequent changes to the given table schema, for review and approval by the Data Steward.</p>
                    <p>Learn more about requesting table exports to the Edge Database.</p>
                    <hr>
                    <div class="d-flex align-items-center justify-content-end">
                        <button class="btn btn-dark px-4" (click)="open_modal_request_edge_databases()"> Request Table Export to Edge DB </button>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>




<!-- :: ======================= MODALS ======================= :: -->
<!-- :: ====================================================== :: -->

<!-- Modal: Request Trusted User Status  -->
<app-modal #Modal_RequestTrustedUserStatus>
    <ng-container modal-header>
        <div class="d-flex align-items-center justify-content-start p-2">
            <h5 class="m-0"> Request Trusted User Status </h5>
        </div>
    </ng-container>
    <ng-container modal-body>
        <div class="p-2">
            <div class="mb-3">
                <label for="dataset_to_request_trusted_status">For Which Project/Dataset (required)</label>
                <select class="form-select" id="dataset_to_request_trusted_status" [(ngModel)]="selected_dataset_project">
                    <option [value]="undefined">- Select Project or Dataset -</option>
                    <ng-container *ngFor="let project of datasets">
                        <option [value]="project.Name">{{project.Name}}</option>
                    </ng-container>
                </select>
            </div>
            <div class="mb-3">
                <label for="dataset_to_request_trusted_status_justification">Justification for Request (required)</label>
                <textarea id="dataset_to_request_trusted_status_justification" class="form-control"></textarea>
            </div>
            <hr>
            <div class="card">
                <div class="card-header">Acceptable Use Policy</div>
                <div class="card-body">
                    <ng-container *ngIf="selected_dataset_project; else NoDatasetProjectSelected">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius sunt totam unde ipsa! Nobis officia, harum, laboriosam aliquid officiis odio accusantium voluptatem quisquam reprehenderit delectus velit, voluptates magnam. Nam, dolore!</p>
                    </ng-container>
                    <ng-template #NoDatasetProjectSelected>
                        <h5 class="text-muted text-center">Please select a Project or Dataset</h5>
                    </ng-template>
                </div>
                <div class="card-footer">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="AcceptedUsePolicy">
                        <label class="form-check-label" for="AcceptedUsePolicy">I have read and accept the Acceptable Use Policy </label>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container modal-footer>
        <div class="d-flex align-items-center justify-content-between w-100">
            <button class="btn btn-secondary" (click)="close_modal_request_trusted_user_status()">Close</button>
        </div>
    </ng-container>
</app-modal>


<!-- Modal: Request Edge Databases  -->
<app-modal #Modal_RequestEdgeDatabases>
    <ng-container modal-header>
        <div class="d-flex align-items-center justify-content-start p-2">
            <h5 class="m-0"> </h5>
        </div>
    </ng-container>
    <ng-container modal-body>
        <div class="p-2">

        </div>
    </ng-container>
    <ng-container modal-footer>
        <div class="d-flex align-items-center justify-content-between w-100">
            <button class="btn btn-secondary" (click)="close_modal_request_edge_databases()">Close</button>
        </div>
    </ng-container>
</app-modal>