<div id="sdc-workstations">
    <h3>My Workstations</h3>
    <p>Workstations are Windows or linux Virtual Machines (VMs), which provide a mechanism for SDC users to access the datasets assigned to them or their own datasets, and perform analytics on the data.</p>
    <hr>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr class="table-light">
                    <th scope="col">#</th>
                    <th scope="col">Stack Name</th>
                    <th scope="col">Applications</th>
                    <th scope="col">Configuration</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="workstations.length > 0; else NoWorkstations">
                    <ng-container *ngFor="let workstation of workstations">
                        <tr>
                            <th scope="row">1</th>
                            <td>--</td>
                            <td>--</td>
                            <td>
                                <div class="row">
                                    <div class="col-4"><small>vCPUs:</small></div>
                                    <div class="col-8"><small>0</small></div>
                                </div>
                                <div class="row">
                                    <div class="col-4"><small>RAM(GiB):</small></div>
                                    <div class="col-8"><small>0 </small></div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex gap-2">
                                    <button class="btn btn-outline-success"><i class="fa-solid fa-power-off me-2"></i>Start</button>
                                    <button class="btn btn-primary" disabled><i class="fa-solid fa-desktop me-2"></i>Launch</button>
                                    <button class="btn btn-secondary" disabled><i class="fa-solid fa-sliders me-2"></i>Manage</button>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                </ng-container>
                <ng-template #NoWorkstations>

                    <tr>
                        <td colspan="5">
                            <div class="d-flex align-items-center justify-content-center p-4">
                                <p class="m-0 text-body-secondary">No Workstations Found</p>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </tbody>
        </table>
    </div>
</div>