<ul class="list-group">
    <li class="list-group-item p-3">
        <div class="position-relative">
            <a class="stretched-link" data-bs-toggle="collapse" href="#ExportFileRequests_Collapse" role="button" aria-expanded="false" aria-controls="ExportFileRequests_Collapse"> </a>
            <div class="d-flex align-items-center justify-content-between">
                <h5 class="m-0">Export File Requests </h5>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
        <div class="collapse show" id="ExportFileRequests_Collapse">
            <div class="card card-body bg-light mt-3">
                <div class="d-flex align-items-center justify-content-center p-4">
                    <h5 class="text-center text-muted m-0">No Trusted User Requests</h5>
                </div>
            </div>
        </div>
    </li>
    <li class="list-group-item p-3">
        <div class="position-relative">
            <a class="stretched-link" data-bs-toggle="collapse" href="#ExportTableRequests_Collapse" role="button" aria-expanded="false" aria-controls="ExportTableRequests_Collapse"> </a>
            <div class="d-flex align-items-center justify-content-between">
                <h5 class="m-0">Export Table Requests </h5>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
        <div class="collapse show" id="ExportTableRequests_Collapse">
            <div class="card card-body bg-light mt-3">
                <div class="d-flex align-items-center justify-content-center p-4">
                    <h5 class="text-center text-muted m-0">No Trusted User Requests</h5>
                </div>
            </div>
        </div>
    </li>
    <li class="list-group-item p-3">
        <div class="position-relative">
            <a class="stretched-link" data-bs-toggle="collapse" href="#TrustedUserRequests_Collapse" role="button" aria-expanded="false" aria-controls="TrustedUserRequests_Collapse"> </a>
            <div class="d-flex align-items-center justify-content-between">
                <h5 class="m-0">Trusted User Requests </h5>
                <i class="fa-solid fa-chevron-down"></i>
            </div>
        </div>
        <div class="collapse show" id="TrustedUserRequests_Collapse">
            <div class="card card-body bg-light mt-3">
                <div class="d-flex align-items-center justify-content-center p-4">
                    <h5 class="text-center text-muted m-0">No Trusted User Requests</h5>
                </div>
            </div>
        </div>
    </li>
</ul>