div.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;

    div.sidebar {
        border-right: solid 1px #cecece;
        padding: 1rem;
    }

    div.content {
        padding: 1rem;
    }
}