<section class="container" id="sdc-login-page">
    <div class="row">
        <div id="login-section" class="col-5 px-5">
            <h4>Sign In</h4>
            <p>If you do not have a Department of Transportation email address, you will be redirected to Login.gov.</p>
            <p>You will be prompted to create a Login.gov account if you do not already have one.</p>
            <hr>
            <form>
                <div class="mb-3">
                    <label for="sdc-email-input" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="sdc-email-input" placeholder="name@example.com" name="email_address" [(ngModel)]="email_address">
                </div>
                <button type="submit" class="btn btn-primary" (click)="login()">
                    <ng-container *ngIf="signing_in == true; else DefaultSignInButton">
                        <i class="fa-solid fa-circle-notch fa-spin me-2"></i> SIGNING IN...
                    </ng-container>
                    <ng-template #DefaultSignInButton>
                        <i class="fa-solid fa-arrow-right-to-bracket me-2"></i> SIGN IN
                    </ng-template>
                </button>
            </form>
        </div>
        <div id="register-section" class="col-7 px-5">
            <h4>Sign up to the SDC</h4>
            <p>Please download the access request form linked below, fill out the required details and send an email to sdc-support&amp;dot.gov.</p>

            <p>Once approved, we will send you an email with the instructions for accessing the platform.</p>
            <p><a class="btn btn-outline-secondary" href="https://securedatacommons.atlassian.net/servicedesk/customer/portal/2/group/7"><i class="fa-solid fa-up-right-from-square me-2"></i> Access Request Form </a></p>
            <br>

            <p>If you are providing data to the SDC please fill out the Data Provider Agreement.</p>
            <p><a class="btn btn-outline-secondary" href="https://securedatacommons.atlassian.net/servicedesk/customer/portal/7/group/15/create/66"><i class="fa-solid fa-up-right-from-square me-2"></i> Data Provider Agreement </a></p>
        </div>
    </div>
</section>